@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
  font-family: 'Lexend', sans-serif;
}

button {
  transition: 0.5s all;
  border-radius: 6px;
}

.transition {
  transition: 0.5s all !important;
}

.text-gradient {
  width: auto;
  background-image: linear-gradient(to right, #b16cea, #ff5e69 60%, #ffa84b);
  align-self: center;
  padding-right: 0;
  font-size: 2.25rem;
  color: transparent;
  background-clip: text;
}

.newsletter {
  background-color: #9e027b;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #0b0b13, #13122a 36%, #211f54 100%, #211f54 100%, #54484e 100%, #f6c93b);
  border-radius: 5px;
  position: relative;
}